
/*--------------------BASIC--------------------*/

html {font-size: 137.5%;} /*22px*/

* {font-family: 'DM Sans', sans-serif; scroll-behavior: smooth;}

p {
    font-family: 'Karla', sans-serif;
    font-size: 1em !important;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 700; 
}

h1 {
    margin-top: 0;
    font-size: 4.209em;
  }
  
  h2 {font-size: 3.157em;}
  
  h3 {font-size: 2.369em;}
  
  h4 {font-size: 1.777em;}
  
  h5 {font-size: 1.333em;}

  h6 {font-size: 1em;}
  
  small {font-size: 0.75em;}

li{margin-left: 1em; color: black; font-weight: 500;} 

span{font-size: 3em; color: #b8b8b8;}

small{color: #b8b8b8;}






/*--------------------NAVBAR--------------------*/

.collapse a { 
    font-size: 0.75rem;
    font-weight: 500;
    color: black !important;
}

.collapse a:hover { 
    color: #82e415 !important;
    transition: 250ms ease;
}

.hello-cta {
    background-color: #82e415;
    color: white;
    padding: 0 0.25em 0 0.25em;
    border-radius: 8px;
}

.hello-cta a{
    color: white !important;
}

.hello-cta:hover{
    background-color: #77cf12;
    transition: 250ms ease;
}

.hello-cta a:hover{
    color: white !important;
      transition: 250ms ease;
}

.top-nav {
    font-size: 1.777em;
    font-weight: 700;
}

.navbot{
    box-shadow: 0 -5px 10px -5px rgb(216, 216, 216);
    height: 56px;
}

.navbot-row{
    height: 100%;
}

.navbot-box {
    margin: 0 1.5em 0 1.5em;
}

.fas {
    color: #dcdcdc;
    font-size: 1.2em;
}

.far {
    color: #dcdcdc;
    font-size: 1.2em;
}

.fas-active{
    color: #272727;
}





/*--------------------HERO--------------------*/


.hero {
    height: 70vh;
}

.hero h1{
    margin-bottom: 0.5em;

}

.hero a{
  
    text-decoration: none;
    color: black;
}

.hero .fas {
    font-size: 1em;
    color: black;
}


.hero a:hover{
    color: rgb(58, 58, 58);
}

.hero .fas:hover {
    color: rgb(58, 58, 58);
}



/*-------------------PORTAFOLIO--------------------*/

.portafolio {
    margin-top: 7.5em;
}

.portafolio-box {
    margin-bottom: 7.5em;
}

.port-img-1{
    background-image: url(../images/academia.png);
    background-size: contain;
}

.port-img-3{
    background-image: url(../images/pymelocal.png);
    background-size: contain;
}

.portafolio-content {
    padding: 2em;
}

.portafolio-content p{
    padding-bottom: 2em;
}


.portafolio a{
   text-decoration: none;
    color: black;
}

.portafolio .fas {
    font-size: 1em;
    color: black;
}


.portafolio a:hover{
    color: rgb(58, 58, 58);
}

.portafolio .fas:hover {
    color: rgb(58, 58, 58);
}


/*------------------FOOTER---------------------*/

.link {
    padding-bottom: 3em;
}

.link h2 {
    color: #474747;
}

.link-box {
    margin-left: 2em;
}

.link a{
    color: black;
    text-decoration: none;
}

.link a:hover{
    color: #82e415;
    text-decoration: none;
    transition: 250ms ease;
}

.link .fab {
    margin-left: 0.5em;
    font-size: 2.1em;
}

.fab:hover{
  color: #82e415;
  transition: 250ms ease;
}



/*-------------------PORTAFOLIO--------------------*/

.portada {
    margin-top: 3em;
}

.portada small {
   color: #474747;
}

.portada img {
    width: 100%;
}

.portada h4{
    color: #474747;
}




/*-------------------RESUMEN--------------------*/

.resumen {
    margin-top: 7.5em;
}

/*-------------------PROBLEMA--------------------*/

.problema {
    margin-top: 3em;
}

/*-------------------CONCEPTO--------------------*/

.concepto {
    margin-bottom: 3em;
    margin-top: 3em;
}

.concepto img {
    width: 100%;
}

.concepto .mobile {
    width: 70%;
}

.logotipo {
    width: 100%;
}

.prototipo {
    margin-top: 3em;
    margin-bottom: 3em;
}


.proximo-proyecto {
    margin-top: 7.5em;
    margin-bottom: 7.5em;
}

.proximo-proyecto a{

    text-decoration: none;
    color: black;
}

.proximo-proyecto h3{
    margin-bottom: 1.5em;
}

.proximo-proyecto h4{
    color: #474747;
}

.proximo-proyecto .fas {
    font-size: 1em;
    color: black;
}


.proximo-proyecto a:hover{
    color: rgb(58, 58, 58);
}

.proximo-proyecto .fas:hover {
    color: rgb(58, 58, 58);
}

.papel{
    padding-top: 2em;
}

.presentacion {
    margin-top: 7.5em;
    margin-bottom: 7.5em;
}

/*-------------------FOOTER--------------------*/

.footer {
    margin-top: 3em;
}
















 @media (max-width: 575.98px) {
     
    h1 {font-size: 3em;}

    h2 {font-size: 2.5em;}

    h3 {font-size: 2em;}
      
      p {font-size: 1em !important;}

     .hero {
         height: 90vh;
     }
    
  }


 @media (max-width: 767.98px) { 

    h1 {font-size: 3em;}

    h2 {font-size: 2.5em;}

    h3 {font-size: 2em;}

    .hero {
        height: 80vh;
    }

  
  }
 

 @media (max-width: 991.98px) { 

    body {
        margin: 0 0.3em 0 0.3em;
    }
    

    h1 {font-size: 3em;}

    h2 {font-size: 2.369em;}
    
    h3 {font-size: 1.777em;}
    
    h4 {font-size: 1.333em;}
    .portafolio-content {
        padding: 1.5em;
        padding-bottom: 2em;
    }


 }
 

 @media (max-width: 1199.98px) { ... }